<section class="container post">
    <article>
      <header>
        <h1 class="title">{{ .Title }}</h1>
      </header>
  
      {{ .Content }}
    </article>
  
    <br/>
  
    
   
    
  </section>