<footer class="footer">
  <section class="container">
    {{ if .Site.Params.snsShare }}
      <div class="sns-shares sp-sns-shares">
      </div>
    {{ end }}
    {{ with .Site.Params.footercontent }}
      <p>{{.}}</p>
    {{ end }}
    {{ if not .Site.Params.hideCopyright }} © {{ .Site.LastChange.Format "2006" }} {{ end }} {{ if not .Site.Params.hideCredits}} {{ if not .Site.Params.hideCopyright }} · {{ end }} Powered by <a href="https://gohugo.io/">Hugo</a> & <a href="https://github.com/naro143/hugo-coder-portfolio">CoderPortfolio</a>. {{ end }}

  </section>
</footer>
<div class="fixed-bar">
  <section class="container">
    {{ with .Site.Params.fixedbarContent }}
      <p id="privateTriggerText">{{.}}<a id="privateTrigger">Click!</a></p>
    {{ end }}
    {{ if .Site.Params.snsShare }}
      <div class="sns-shares pc-sns-shares">
      </div>
    {{ end }}
  </section>
</div>
